---
layout: default
---
	<!-- Start About -->
  <section id="mu-about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-about-area">
            <!-- Start Feature Content -->
            <div class="row">
              <div class="col-md-6">
                <div class="mu-about-left">
                  <img class="" src="assets/images/about.jpg" alt="Men Speaker">
                </div>
              </div>
              <div class="col-md-6">
                <div class="mu-about-right">
                  <h2>About The CodeCamp</h2>
                  <p>
                      <b>Club of Technical Students (CoTS)</b> and <b>Innovative Computer Engineering Students’ Society (iCES)</b>
                      is organizing a CodeCamp with the theme <u><b>"Human Aid"</b></u><b></b> on the occasion of technical festival held
                      in Paschimanchal Campus on the pre-scheduled date. This event will make use of Information 
                      Technology to build and innovative applicable systems with the brainstorming of ideas to
                      solve real-world problems.
                  </p>
                  <p>
                    {{ site.more_about }}
                  </p>
                </div>
              </div>
            </div>
            <!-- End Feature Content -->

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About -->

 

  <!-- Start Schedule  -->
  <section id="mu-schedule">
    <div class="container">
      <div class="row">
        <div class="colo-md-12">
          <div class="mu-schedule-area">

            <div class="mu-title-area">
              <h2 class="mu-title">Schedule Detail</h2>
              <p>Our program is scheduled to be a 3 day event.</p>
            </div>

            <div class="mu-schedule-content-area">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs mu-schedule-menu" role="tablist">
                {% for day in site.data.schedule %}
                  <li role="presentation" class="{{ day.class }}"><a href="#{{ day.href }}" aria-controls="{{ site.href }}" role="tab" data-toggle="tab">{{ day.date }}</a></li>
                {% endfor %}
              </ul>

              <!-- Tab panes -->
              <div class="tab-content mu-schedule-content">
                  {% for day in site.data.schedule %}

                  <div role="tabpanel" class="tab-pane fade mu-event-timeline {{ day.class }}" id="{{ day.href }}">
                    <ul>
                      {% for task in day.schedule %}
                      <li>
                        <div class="mu-single-event">
                          <p class="mu-event-time">{{ task.time }}</p>
                          <h3>{{ task.work }}</h3>
                        </div>
                      </li>
                      {% endfor %}
                                      </ul>
                  </div>
                  {% endfor %}
                
              </div>

            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Schedule -->

  <!-- Start Speakers -->
  <section id="mu-speakers">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-speakers-area">

            <div class="mu-title-area">
              <h2 class="mu-title">Our Team</h2>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis unde, ut sapiente et voluptatum facilis consectetur incidunt provident asperiores at necessitatibus nulla sequi voluptas libero quasi explicabo veritatis minima porro.</p> -->
            </div>

            <!-- Start Speakers Content -->
            <div class="mu-speakers-content">

              <div class="mu-speakers-slider">
                {% for member in site.data.teams %}
                <!-- Start single speaker -->
                <div class="mu-single-speakers">
                  <img src="assets/images/speaker-1.jpg" alt="speaker img">
                  <div class="mu-single-speakers-info">
                    <h3>{{ member.name }}</h3>
                    <p>{{ member.title }}</p>
                    <ul class="mu-single-speakers-social">
                      <li><a href="http://facebook.com/{{ member.facebook }}"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="http://twitter.com/{{ member.twitter }}"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                  </div>
                </div>
                <!-- End single speaker -->
                {% endfor %}
              </div>
            </div>
            <!-- End Speakers Content -->

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Speakers -->

  <!-- Start Venue -->
  <section id="mu-venue">
    <div class="mu-venue-area">
      <div class="row">

        <div class="col-md-6">
          <div class="mu-venue-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7029.114570323766!2d83.97793389179637!3d28.251114073701313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3995947ddb83ddc5%3A0xcd98c6b6d110d582!2sPaschimanchal+Campus+(I.O.E)!5e0!3m2!1sen!2snp!4v1528898923790" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mu-venue-address">
            <h2>VENUE <i class="fa fa-chevron-right" aria-hidden="true"></i></h2>
            <h3>Paschimanchal Campus</h3>
            <h4>Pokhara-Lekhnath 19, Lamachaur </h4>
            <p></p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End Venue -->

  <!-- Start Pricing  -->
  <section id="mu-pricing">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-pricing-area">
            
            <div class="mu-title-area">
              <h2 class="mu-title">Participation </h2>
              <p> {{ site.participation_text }} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Pricing -->

  <!-- Start Register  -->
  <section id="mu-register">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-register-area">

            <div class="mu-title-area">
              <h2 class="mu-title">Register Form</h2>
              <p>{{ site.register_text }}</p>
            </div>

            <div class="mu-register-content">
              <form class="mu-register-form">

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">                
                      <input type="text" class="form-control" placeholder="Your Full Name" id="name" name="name" required="">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">                
                      <input type="email" class="form-control" placeholder="Enter Your Email" id="email" name="email" required="">
                    </div>     
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">                
                      <input type="text" class="form-control" placeholder="Your Phone Number" id="telephone" name="telephone" required="">
                    </div>
                  </div>
                  <div class="col-md-6">
                    
                  <div class="form-group"> 
                    <select class="form-control" name="ticket" id="ticket">
                      <option value="0">Inside Paschimanchal Campus</option>
                      <option value="1">Inside Pokhara Valley</option>
                      <option value="2">Outside Pokhara Valley</option>
                    </select>
                  </div>      
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">                
                      <input type="text" class="form-control" placeholder="Team member Full Name" id="name" name="name-1" required="">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">                
                      <input type="email" class="form-control" placeholder="Enter Email address" id="email" name="email-1" required="">
                    </div>     
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">                
                      <input type="text" class="form-control" placeholder="Team member Full Name" id="name" name="name-2" required="">
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">                
                      <input type="email" class="form-control" placeholder="Enter Email address" id="email" name="email-2" required="">
                    </div>     
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea name="idea" id="idea" cols="30" rows="10"  class="form-control" placeholder="Describe your idea in brief." required="required"></textarea>
                    </div>
                  </div>
                </div>



                <button type="submit" class="mu-reg-submit-btn">SUBMIT</button>

                    </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Register -->

  <!-- Start FAQ -->
  <section id="mu-faq">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-faq-area">

            <div class="mu-title-area">
              <h2 class="mu-title">FAQ</h2>
              <p>Feel free to contact us using the contact form below if you couldn't find your question in the Frequently Asked Question.</p>
            </div>

            <div class="mu-faq-content">

              <div class="panel-group" id="accordion">
                    {% for qa in site.data.faq %}
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true">
                            <span class="fa fa-angle-down"></span> {{ qa.question }}
                          </a>
                        </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                          {{ qa.answer }}
                        </div>
                      </div>
                    </div>
                    {% endfor %}



                </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End FAQ -->

  <!-- Start Sponsors -->
  <section id="mu-sponsors">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-sponsors-area">
            
            <div class="mu-title-area">
              <h2 class="mu-title">Our Sponsors</h2>
              <p>This program couldnot be this program if there was not the support of the sponsers in it.</p>
            </div>
            
            <!-- Start spnonsors brand logo -->
            <div class="mu-sponsors-content">
              <div class="row">
              {% for sponser in site.data.sponsers %}
                <div class="col-md-2 col-sm-4 col-xs-4">
                  <div class="mu-sponsors-single">
                    <img src="assets/images/{{ site.data.sponsers" alt="Brand Logo">
                  </div>
                </div>
                {% endfor %}

              </div>
            </div>
            <!-- End spnonsors brand logo -->

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Sponsors -->


  <!-- Start Contact -->
  <section id="mu-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-contact-area">

            <div class="mu-title-area">
              <h2 class="mu-heading-title">Contact Us</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
            </div>

            <!-- Start Contact Content -->
            <div class="mu-contact-content">
              <div class="row">

              <div class="col-md-12">
                <div class="mu-contact-form-area">
                  <div id="form-messages"></div>
                    <form id="ajax-contact" method="post" action="mailer.php" class="mu-contact-form">
                      <div class="form-group">                
                        <input type="text" class="form-control" placeholder="Name" id="name" name="name" required>
                      </div>
                      <div class="form-group">                
                        <input type="email" class="form-control" placeholder="Enter Email" id="email" name="email" required>
                      </div>              
                      <div class="form-group">
                        <textarea class="form-control" placeholder="Message" id="message" name="message" required></textarea>
                      </div>
                      <button type="submit" class="mu-send-msg-btn"><span>SUBMIT</span></button>
                          </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Contact Content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact -->
